* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: clamp(14px,2.5vw,18px);
    font-family: sans-serif;
}

main{
    width: 50%;
    padding: 1rem;
    margin: auto;
}

.card{
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: rgb(239, 239, 239);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card button{
    width: 10rem;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: white;

    &:hover{
        cursor: pointer;
    }
}

@media (max-width: 400px){
    main{
        width: 100%;
    }
}