* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: clamp(14px, 2.5vw, 18px);
    font-family: sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

main .card{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 13px;
    background-color: rgb(232, 232, 232);
}

p{
    font-size: 1rem ;
    text-align: center;
}
p span{
    color: blue;
    font-family: monospace;
}

.downloadBarOuter{
    height: 0.8rem;
    background-color: azure;
    margin: 0.5rem 0;
    border-radius: 50px;
}
.downloadBarInner{
    height: 100%;
    width: 0;
    border-radius: 50px;
    background-color:rgb(14, 153, 14) ;
    transition: all 0.1s ease;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom h4{
    font-size: 1.2rem;
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: baseline;
}
.bottom h4 span{
    font-size: 0.8rem;
    opacity: 0.8;
    font-weight: 400;
}
.btn{
    font-size: 1rem;
    background-color: rgb(14, 153, 14);
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}

.btn:active{
    transform: scale(0.977);
}


@media (max-width: 900px){
    body{
        background-color: blue;

    }
    .bottom h4{
        width: 42%;
    }
}