* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: clamp(14px,2.5vw,18px);
    font-family: sans-serif;
}

main{
    width: 100%;
    height: 100%;
    
}

.allreels{
    margin: auto;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    overflow: scroll;
    color: white;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.allreels::-webkit-scrollbar{
    display: none;
}

.reel{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom{
    position: absolute;
    padding: 1rem;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.886) 90%);
}

.user{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.7rem;
}

.user img{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
}

.user button{
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    background-color: transparent;
    font-size: 0.6rem;
    padding: 0.05rem 0.3rem;
    margin-left: 0.2rem;
}

.bottom h2{
    font-size: .8rem;
    font-weight: 600;
    margin-top: .5rem;
}

.cursor:hover{
    cursor: pointer;
}

.right{
    /* z-index: 11; */
    position: absolute;
    bottom: 3.2rem;
    right: 0;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}
.right>div{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.right span{
    font-size: 0.7rem;
}

.love{
    color: red;
}


@media (max-width:500px){
    .allreels{
        width: 100%;
    }

    body,html{
        font-size: 1.4rem;
    }
}